body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden; /* So CasparCG doesn't display a scroll bar */
}

.container {
    height: 100vh;
    display: flex;
}
.container.center {
    align-items: center;
    justify-content: center;
}
.container.lowerthird .lyrics {
    align-self: flex-end;
}

.uppercase .lyrics {
    text-transform: uppercase;
}

.lyrics {
    width: calc(100% - 4rem);
    margin: 2rem;

    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.lyrics p {
    margin: 0;
    padding: 0;
}
span.verse-ref {
    vertical-align: super;
    font-size: 0.9rem;
}